body {
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

div.wrapper {
    background-color: white;
    height: 200px;
    width: 100%;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

img.logo {
    height: 180px;
    width: 180px;
}

div.text_container {
    /* height: 200px; */
    font-weight: bold;
    font-size: 50px;
    text-align: left;
    line-height: 0%;
    display: inline-block;
}

div.content {
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    font-size: 20px;
}

p.title {
    font-size: 30px;
    font-weight: bold;
}

div.separator {
    height: 10px;
    /* background-color: black; */
    background-image: linear-gradient(white, rgb(182, 182, 182), white);
}

body {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%;
}